.footer{
  background-color: rgb(var(--footer_background));
  padding: 49px 16px;
  display: flex;
  justify-content: center;
  color: rgb(var(--white));

  a{
    color: rgb(var(--white));
    text-decoration: none;

    &:hover{
      color: rgb(var(--primary));
    }
  }

  p{
    margin: 0;
  }

  figure{
    margin: 0;
  }

  &_menu{
    &_list{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  
  &_container{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
  }

  &_column{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 13px;

    &_title{
      font-size: 1rem;
      font-weight: 700;
      padding-bottom: 7px;
      border-bottom: 1px solid rgb(var(--footer_border));
      position: relative;

      &::after{
        content: '';
        position: absolute;
        bottom: calc(-1px / 2);
        left: 0;
        width: 100px;
        height: 2px;
        background-color: rgb(var(--secondary));
      }
    }

    &_content{
      display: flex;
      flex-direction: column;
      gap: 34px;
    }
  }

  &_security_seals{
    display: flex;
    gap: 16px;
  }

  &_payment_methods{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}