.header{
  background-color: rgb(var(--header_background));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;

  &_container{
    max-width: 1280px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header{
      &_left{
        .header{
          &_logo{
            h1{
              margin: 0;
            }
          }
        }
      }

      &_center{
        @include header-menu;
      }

      &_right{
        display: flex;
        gap: 30px;
        align-items: center;

        @include search-header;

        @include cart-header;
      }
    }
  }
}