:root{
  --primary: 164, 190, 191;
  --secondary: 50, 188, 173;

  --header_background: 238, 238, 238;
  --mobile_search_header: 64, 64, 64;
  --mobile_menu_background: 64, 64, 64;
  --mobile_menu_close: 64, 64, 64;

  --footer_background: 64, 64, 64;
  --footer_border: 207, 207, 207;

  --showcase_border_title: 207, 207, 207;
  --showcase_discount_text: 64, 64, 64;
  --showcase_item_title: 64, 64, 64;
  --showcase_item_text: 72, 72, 72;
  --showcase_action_background: 164, 190, 191;
  --showcase_action_background_hover: 99, 153, 155;
  --showcase_action_text_color: 72, 72, 72;
  --showcase_action_text_color_hover: 255, 255, 255;

  --black: 0, 0, 0;
  --white: 255, 255, 255;
}