:root{
  --primary: 164, 190, 191;
  --secondary: 50, 188, 173;

  --header_background: 238, 238, 238;
  --footer_background: 64, 64, 64;

  --footer_border: 207, 207, 207;

  --showcase_border_title: 207, 207, 207;
  --showcase_discount_text: 64, 64, 64;

  --black: 0, 0, 0;
  --white: 255, 255, 255;
}