:root{
  --primary: #A4BEBF;
  --secondary: #32BCAD;

  --header_background: #EEEEEE;
  --footer_background: #404040;

  --footer_border: #CFCFCF;

  --showcase_border_title: #CFCFCF;

  --black: #000000;
  --white: #ffffff;
}